Repository openrewrite/rewrite, pull requests merged in 2025-09, with the labels that each got.

#5978 fix(yaml): handle anchored map within sequence
  rewrite-yaml/src/main/java/org/openrewrite/yaml/YamlParser.java
  rewrite-yaml/src/test/java/org/openrewrite/yaml/tree/MappingTest.java
  rewrite-yaml/src/test/java/org/openrewrite/yaml/tree/SequenceTest.java
Labels: yaml, parser

#5983 `RewriteTest` should load recipes through `RecipeLoader`, not `RecipeIntrospectionUtils`
  rewrite-test/src/main/java/org/openrewrite/test/RewriteTest.java
Labels: enhancement, kotlin

#5894 RemoveRedundantDependencyVersions to check for except even in dependencyManagement
  rewrite-maven/src/main/java/org/openrewrite/maven/RemoveRedundantDependencyVersions.java
  rewrite-maven/src/test/java/org/openrewrite/maven/RemoveRedundantDependencyVersionsTest.java
Labels: enhancement, recipe

#5989 Allow trailing comma in TOML
  rewrite-toml/src/main/antlr/TomlParser.g4
  rewrite-toml/src/main/java/org/openrewrite/toml/internal/grammar/TomlParser.interp
  rewrite-toml/src/main/java/org/openrewrite/toml/internal/grammar/TomlParser.java
  rewrite-toml/src/test/java/org/openrewrite/toml/TomlParserTest.java
Labels: bug, toml, parser

#5990 Helm template placeholders in comments
  rewrite-yaml/src/main/java/org/openrewrite/yaml/YamlParser.java
  rewrite-yaml/src/test/java/org/openrewrite/yaml/HelmTemplateParsingTest.java
Labels: bug, yaml, parser

#6000 Only trigger Artifactory private listing when using HTTP(S) and the path beginning with Artifactory
  rewrite-gradle/src/main/java/org/openrewrite/gradle/util/GradleWrapper.java
Labels: bug

#5979 UpgradeTransitiveDependencyVersion should not downgrade a transitive dependency version if lower than resolved version
  rewrite-gradle/src/test/java/org/openrewrite/gradle/UpgradeTransitiveDependencyVersionTest.java
  rewrite-maven/src/main/java/org/openrewrite/maven/AddManagedDependency.java
  rewrite-maven/src/test/java/org/openrewrite/maven/AddManagedDependencyTest.java
  rewrite-maven/src/test/java/org/openrewrite/maven/UpgradeTransitiveDependencyVersionTest.java
Labels: bug, recipe, maven

#5998 Restore pull request receive workflow to apply best practices
  .github/workflows/receive-pr.yml
  rewrite-core/src/main/java/org/openrewrite/rpc/RpcReceiveQueue.java
  rewrite-core/src/main/java/org/openrewrite/rpc/RpcSendQueue.java
  rewrite-core/src/test/java/org/openrewrite/marker/OperatingSystemProvenanceTest.java
  rewrite-java-tck/src/main/java/org/openrewrite/java/tree/AnnotationTest.java
  rewrite-java/src/main/java/org/openrewrite/java/internal/rpc/JavaReceiver.java
  rewrite-javascript/src/integTest/java/org/openrewrite/javascript/rpc/JavaScriptRewriteRpcTest.java
  rewrite-kotlin/build.gradle.kts
Labels: enhancement

#5916 Improve record parsing
  rewrite-core/src/main/java/org/openrewrite/internal/StringUtils.java
  rewrite-java-17/src/main/java/org/openrewrite/java/isolated/ReloadableJava17ParserVisitor.java
  rewrite-java-21/src/main/java/org/openrewrite/java/isolated/ReloadableJava21ParserVisitor.java
  rewrite-java-25/src/main/java/org/openrewrite/java/isolated/ReloadableJava25ParserVisitor.java
  rewrite-java-tck/src/main/java/org/openrewrite/java/tree/RecordTest.java
Labels: bug, java, parser

#5991 Introduce support for pattern matching within the `Semver` type classes
  rewrite-core/src/main/java/org/openrewrite/semver/CaretRange.java
  rewrite-core/src/main/java/org/openrewrite/semver/HyphenRange.java
  rewrite-core/src/main/java/org/openrewrite/semver/LatestRelease.java
  rewrite-core/src/main/java/org/openrewrite/semver/SetRange.java
  rewrite-core/src/main/java/org/openrewrite/semver/TildeRange.java
  rewrite-core/src/main/java/org/openrewrite/semver/XRange.java
  rewrite-core/src/test/java/org/openrewrite/semver/CaretRangeTest.java
  rewrite-core/src/test/java/org/openrewrite/semver/HyphenRangeTest.java
  rewrite-core/src/test/java/org/openrewrite/semver/LatestIntegrationTest.java
  rewrite-core/src/test/java/org/openrewrite/semver/LatestMinorTest.java
  rewrite-core/src/test/java/org/openrewrite/semver/LatestPatchTest.java
  rewrite-core/src/test/java/org/openrewrite/semver/SetRangeTest.java
  rewrite-core/src/test/java/org/openrewrite/semver/TildeRangeTest.java
  rewrite-core/src/test/java/org/openrewrite/semver/XRangeTest.java
Labels: bug, enhancement

#6004 Add tests for flexible constructor bodies
  rewrite-java-tck/src/main/java/org/openrewrite/java/tree/ConstructorTest.java
Labels: java 25+, parser

#6014 Groovy - handling closures `{}` in enums
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyParserVisitor.java
  rewrite-groovy/src/main/java/org/openrewrite/groovy/internal/Delimiter.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/EnumTest.java
Labels: bug, groovy

#5971 Support unnamed variables in Java25Parser
  rewrite-java-25/src/main/java/org/openrewrite/java/isolated/ReloadableJava25ParserVisitor.java
  rewrite-java-tck/src/main/java/org/openrewrite/java/MinimumJava25.java
  rewrite-java-tck/src/main/java/org/openrewrite/java/tree/UnnamedVariableTest.java
Labels: test provided, java 25+, parser

#6017 Retrieve available Gradle versions only when requested would result in a possible update
  rewrite-gradle/src/main/java/org/openrewrite/gradle/UpdateGradleWrapper.java
  rewrite-gradle/src/test/java/org/openrewrite/gradle/UpdateGradleWrapperTest.java
Labels: bug, enhancement

#6019 Add charset to `FindSourceFiles` data table
  rewrite-core/src/main/java/org/openrewrite/FindSourceFiles.java
  rewrite-core/src/main/java/org/openrewrite/table/SourcesFiles.java
Labels: enhancement

#6018 Groovy - special handling of double-quote values in enum arguments
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyParserVisitor.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/EnumTest.java
Labels: bug, groovy

#6023 Fixed a bug where root entries with newlines in front would have the entire entry be indented after unfolding.
  rewrite-yaml/src/main/java/org/openrewrite/yaml/UnfoldProperties.java
  rewrite-yaml/src/test/java/org/openrewrite/yaml/UnfoldPropertiesTest.java
Labels: bug

#6048 Groovy: Guard against NPE when coming across a multi variable assignment
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyParserVisitor.java
Labels: bug, groovy, parser

#6035 Yaml newline after end of document
  rewrite-yaml/src/main/java/org/openrewrite/yaml/YamlParser.java
  rewrite-yaml/src/main/java/org/openrewrite/yaml/internal/YamlPrinter.java
  rewrite-yaml/src/main/java/org/openrewrite/yaml/tree/Yaml.java
  rewrite-yaml/src/test/java/org/openrewrite/yaml/YamlParserTest.java
Labels: bug, yaml, parser

#6043 UpgradeDependencyVersion needs to support common Groovy property access notations
  rewrite-gradle/src/main/java/org/openrewrite/gradle/UpgradeDependencyVersion.java
  rewrite-gradle/src/test/java/org/openrewrite/gradle/UpgradeDependencyVersionTest.java
Labels: enhancement, recipe

#6054 Extend JSP parser to support scriptlets, expressions, declarations, and comments
  rewrite-xml/src/main/antlr/XMLLexer.g4
  rewrite-xml/src/main/antlr/XMLParser.g4
  rewrite-xml/src/main/java/org/openrewrite/xml/XmlVisitor.java
  rewrite-xml/src/main/java/org/openrewrite/xml/internal/XmlParserVisitor.java
  rewrite-xml/src/main/java/org/openrewrite/xml/internal/XmlPrinter.java
  rewrite-xml/src/main/java/org/openrewrite/xml/internal/grammar/XMLLexer.interp
  rewrite-xml/src/main/java/org/openrewrite/xml/internal/grammar/XMLLexer.java
  rewrite-xml/src/main/java/org/openrewrite/xml/internal/grammar/XMLLexer.tokens
  rewrite-xml/src/main/java/org/openrewrite/xml/internal/grammar/XMLParser.interp
  rewrite-xml/src/main/java/org/openrewrite/xml/internal/grammar/XMLParser.java
  rewrite-xml/src/main/java/org/openrewrite/xml/internal/grammar/XMLParser.tokens
  rewrite-xml/src/main/java/org/openrewrite/xml/internal/grammar/XMLParserBaseListener.java
  rewrite-xml/src/main/java/org/openrewrite/xml/internal/grammar/XMLParserBaseVisitor.java
  rewrite-xml/src/main/java/org/openrewrite/xml/internal/grammar/XMLParserListener.java
  rewrite-xml/src/main/java/org/openrewrite/xml/internal/grammar/XMLParserVisitor.java
  rewrite-xml/src/main/java/org/openrewrite/xml/tree/Xml.java
  rewrite-xml/src/test/java/org/openrewrite/xml/XmlParserTest.java
Labels: xml, parser

#6059 Inline annotated methods through generated recipes to support multiple versions
  rewrite-java/src/main/java/org/openrewrite/java/InlineMethodCalls.java
  rewrite-java/src/main/java/org/openrewrite/java/internal/parser/InlineMethodCallsRecipeGenerator.java
  rewrite-java/src/main/java/org/openrewrite/java/internal/parser/TypeTable.java
  rewrite-java/src/test/java/org/openrewrite/java/InlineMethodCallsTest.java
  rewrite-java/src/test/java/org/openrewrite/java/internal/parser/InlineMethodCallsRecipeGeneratorTest.java
Labels: enhancement, recipe

#6063 Annotate methods which may return null with nullable
  rewrite-core/src/main/java/org/openrewrite/marker/SearchResult.java
  rewrite-java/src/main/java/org/openrewrite/java/tree/J.java
  rewrite-kotlin/src/main/java/org/openrewrite/kotlin/internal/PsiTreePrinter.java
  rewrite-maven/src/main/java/org/openrewrite/maven/cache/RocksdbMavenPomCache.java
Labels: enhancement

#6075 Fix HCL parser idempotency issue with empty arrays containing newlines
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/HclParserVisitor.java
  rewrite-hcl/src/test/java/org/openrewrite/hcl/tree/HclCollectionValueTest.java
Labels: bug, hcl, parser

#6057 fix: AddDependency with onlyIfUsing: "*" cause: StringIndexOutOfBoundsException
  rewrite-java/src/main/java/org/openrewrite/java/search/UsesType.java
Labels: question

#6076 Fix HCL parser idempotency issue with spaces before closing brace
  rewrite-hcl/src/main/java/org/openrewrite/hcl/HclVisitor.java
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/HclParserVisitor.java
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/HclPrinter.java
  rewrite-hcl/src/main/java/org/openrewrite/hcl/tree/Hcl.java
  rewrite-hcl/src/main/java/org/openrewrite/hcl/tree/HclRightPadded.java
  rewrite-hcl/src/main/java/org/openrewrite/hcl/tree/Space.java
  rewrite-hcl/src/test/java/org/openrewrite/hcl/tree/HclQuotedTemplateTest.java
Labels: bug, hcl, parser
