Repository openrewrite/rewrite, pull requests merged in 2025-01, with the labels that each got.

#4832 Support nested annotations with properties and annotations with empty arguments
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyParserVisitor.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/AnnotationTest.java
Labels: bug, parser-groovy

#4833 Prevent class cast exception on Unknown annotation type
  rewrite-java/src/main/java/org/openrewrite/java/internal/template/BlockStatementTemplateGenerator.java
Labels: bug

#4834 Improve discovery of parentheses level for MethodCallExpression
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyParserVisitor.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/MethodInvocationTest.java
Labels: bug, parser-groovy

#4838 Cleanup groovy parser
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyParserVisitor.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/ClassDeclarationTest.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/MethodDeclarationTest.java
Labels: enhancement, parser-groovy

#4843 Fix parsing string literal with line breaks and spaces
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyParserVisitor.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/AssignmentTest.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/LiteralTest.java
Labels: bug, parser-groovy

#4845 Add TOML language parser
  rewrite-toml/build.gradle.kts
  rewrite-toml/src/main/antlr/TomlLexer.g4
  rewrite-toml/src/main/antlr/TomlParser.g4
  rewrite-toml/src/main/java/org/openrewrite/toml/Assertions.java
  rewrite-toml/src/main/java/org/openrewrite/toml/TomlIsoVisitor.java
  rewrite-toml/src/main/java/org/openrewrite/toml/TomlParser.java
  rewrite-toml/src/main/java/org/openrewrite/toml/TomlParsingException.java
  rewrite-toml/src/main/java/org/openrewrite/toml/TomlVisitor.java
  rewrite-toml/src/main/java/org/openrewrite/toml/internal/TomlParserVisitor.java
  rewrite-toml/src/main/java/org/openrewrite/toml/internal/TomlPrinter.java
  rewrite-toml/src/main/java/org/openrewrite/toml/internal/grammar/TomlLexer.interp
  rewrite-toml/src/main/java/org/openrewrite/toml/internal/grammar/TomlLexer.java
  rewrite-toml/src/main/java/org/openrewrite/toml/internal/grammar/TomlLexer.tokens
  rewrite-toml/src/main/java/org/openrewrite/toml/internal/grammar/TomlParser.interp
  rewrite-toml/src/main/java/org/openrewrite/toml/internal/grammar/TomlParser.java
  rewrite-toml/src/main/java/org/openrewrite/toml/internal/grammar/TomlParser.tokens
  rewrite-toml/src/main/java/org/openrewrite/toml/internal/grammar/TomlParserBaseListener.java
  rewrite-toml/src/main/java/org/openrewrite/toml/internal/grammar/TomlParserBaseVisitor.java
  rewrite-toml/src/main/java/org/openrewrite/toml/internal/grammar/TomlParserListener.java
  rewrite-toml/src/main/java/org/openrewrite/toml/internal/grammar/TomlParserVisitor.java
  rewrite-toml/src/main/java/org/openrewrite/toml/internal/package-info.java
  rewrite-toml/src/main/java/org/openrewrite/toml/marker/ArrayTable.java
  rewrite-toml/src/main/java/org/openrewrite/toml/marker/InlineTable.java
  rewrite-toml/src/main/java/org/openrewrite/toml/marker/package-info.java
  rewrite-toml/src/main/java/org/openrewrite/toml/package-info.java
  rewrite-toml/src/main/java/org/openrewrite/toml/tree/Comment.java
  rewrite-toml/src/main/java/org/openrewrite/toml/tree/Space.java
  rewrite-toml/src/main/java/org/openrewrite/toml/tree/Toml.java
  rewrite-toml/src/main/java/org/openrewrite/toml/tree/TomlKey.java
  rewrite-toml/src/main/java/org/openrewrite/toml/tree/TomlRightPadded.java
  rewrite-toml/src/main/java/org/openrewrite/toml/tree/TomlType.java
  rewrite-toml/src/main/java/org/openrewrite/toml/tree/TomlValue.java
  rewrite-toml/src/main/java/org/openrewrite/toml/tree/package-info.java
  rewrite-toml/src/test/java/org/openrewrite/toml/TomlParserTest.java
  settings.gradle.kts
Labels: parser-toml

#4847 Support pattern operator for groovy
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyParserVisitor.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/BinaryTest.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/RealWorldGroovyTest.java
Labels: enhancement, parser-groovy

#4848 Skip parsing groovy generated transform methods
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyParserVisitor.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/AnnotationTest.java
Labels: bug, parser-groovy

#4850 Support semicolon for groovy packages
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyParserVisitor.java
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyPrinter.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/ClassDeclarationTest.java
Labels: bug, parser-groovy

#4856 Add recipe to enable Develocity build cache in xml configuration
  rewrite-maven/src/main/java/org/openrewrite/maven/EnableDevelocityBuildCache.java
  rewrite-maven/src/test/java/org/openrewrite/maven/EnableDevelocityBuildCacheTest.java
Labels: enhancement

#4858 HCL - comments in multilines `for`
  rewrite-hcl/src/main/antlr/HCLLexer.g4
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/grammar/HCLLexer.interp
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/grammar/HCLLexer.java
  rewrite-hcl/src/test/java/org/openrewrite/hcl/tree/HclForTest.java
Labels: bug, parser-hcl

#4863 Replacing dependency on commons-compress with commons-lang3
  rewrite-core/build.gradle.kts
Labels: dependencies

#4864 HCL - Fixing handling of # or // within multiline comments
  rewrite-hcl/src/main/java/org/openrewrite/hcl/tree/Space.java
  rewrite-hcl/src/test/java/org/openrewrite/hcl/tree/HclCommentTest.java
Labels: bug, parser-hcl

#4866 fixing comment nesting in positionOfNext()
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/HclParserVisitor.java
  rewrite-hcl/src/test/java/org/openrewrite/hcl/tree/HclCommentTest.java
Labels: bug, parser-hcl

#4871 HCL - Fixing empty comment handling
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/HclParserVisitor.java
  rewrite-hcl/src/test/java/org/openrewrite/hcl/tree/HclCommentTest.java
Labels: bug, parser-hcl

#4869 Map trailing commas as `TrailingComma` `Marker`, to fix `J.Erroneous` issues seen
  rewrite-java-11/src/main/java/org/openrewrite/java/isolated/ReloadableJava11ParserVisitor.java
  rewrite-java-17/src/main/java/org/openrewrite/java/isolated/ReloadableJava17ParserVisitor.java
  rewrite-java-21/src/main/java/org/openrewrite/java/isolated/ReloadableJava21ParserVisitor.java
  rewrite-java-8/src/main/java/org/openrewrite/java/ReloadableJava8ParserVisitor.java
  rewrite-java-tck/src/main/java/org/openrewrite/java/tree/AnnotationTest.java
  rewrite-java-tck/src/main/java/org/openrewrite/java/tree/EnumTest.java
  rewrite-java-tck/src/main/java/org/openrewrite/java/tree/NewArrayTest.java
  rewrite-java-test/src/test/java/org/openrewrite/java/JavaParserTest.java
  rewrite-java-test/src/test/java/org/openrewrite/java/JavaVisitorTest.java
  rewrite-java/src/main/java/org/openrewrite/java/Assertions.java
  rewrite-java/src/main/java/org/openrewrite/java/JavaPrinter.java
  rewrite-java/src/main/java/org/openrewrite/java/tree/Space.java
  rewrite-java/src/test/java/org/openrewrite/java/search/FindCompileErrorsTest.java
  rewrite-test/src/main/java/org/openrewrite/test/TypeValidation.java
Labels: bug, parser-java

#4855 Partial support Lombok for java 8 (mostly done)
  rewrite-java-11/src/main/java/org/openrewrite/java/isolated/ReloadableJava11ParserVisitor.java
  rewrite-java-17/src/main/java/org/openrewrite/java/isolated/ReloadableJava17ParserVisitor.java
  rewrite-java-21/src/main/java/org/openrewrite/java/isolated/ReloadableJava21ParserVisitor.java
  rewrite-java-8/build.gradle.kts
  rewrite-java-8/src/main/java/org/openrewrite/java/ReloadableJava8Parser.java
  rewrite-java-8/src/main/java/org/openrewrite/java/ReloadableJava8ParserVisitor.java
  rewrite-java-8/src/main/java/org/openrewrite/java/package-info.java
  rewrite-java-lombok/src/main/java/org/openrewrite/java/lombok/AllArgsConstructorHandler.java
  rewrite-java-lombok/src/main/java/org/openrewrite/java/lombok/ExtensionMethodNoOpHandler.java
  rewrite-java-lombok/src/main/java/org/openrewrite/java/lombok/HelperNoOpHandler.java
  rewrite-java-lombok/src/main/java/org/openrewrite/java/lombok/JacksonizedNoOpHandler.java
  rewrite-java-lombok/src/main/java/org/openrewrite/java/lombok/NoArgsConstructorHandler.java
  rewrite-java-lombok/src/main/java/org/openrewrite/java/lombok/RequiredArgsConstructorHandler.java
  rewrite-java-lombok/src/main/resources/META-INF/services/lombok.javac.JavacAnnotationHandler
  rewrite-java-tck/src/main/java/org/openrewrite/java/tree/LombokTest.java
Labels: enhancement, parser-java

#4859 Add recipe to enable Develocity build cache for Gradle
  rewrite-gradle/src/main/java/org/openrewrite/gradle/EnableDevelocityBuildCache.java
  rewrite-gradle/src/test/java/org/openrewrite/gradle/EnableDevelocityBuildCacheTest.java
Labels: enhancement

#4889 Enable `AnnotationMatcher` to match values in `J.NewArray`
  rewrite-java/src/main/java/org/openrewrite/java/AnnotationMatcher.java
  rewrite-java/src/test/java/org/openrewrite/java/trait/AnnotatedTest.java
Labels: enhancement

#4891 Print cursor when tests fail to run a recipe
  rewrite-test/src/main/java/org/openrewrite/test/RewriteTest.java
Labels: enhancement

#4892 Add TomlVisitorTest after seeing ClassCastException in arrays
  rewrite-toml/src/main/java/org/openrewrite/toml/TomlVisitor.java
  rewrite-toml/src/test/java/.editorconfig
  rewrite-toml/src/test/java/org/openrewrite/toml/TomlParserTest.java
  rewrite-toml/src/test/java/org/openrewrite/toml/TomlVisitorTest.java
Labels: bug, parser-toml

#4882 Lombok's generated @With method misses type information; fix for Java 17+
  rewrite-java-11/src/main/java/org/openrewrite/java/isolated/ReloadableJava11TypeMapping.java
  rewrite-java-17/src/main/java/org/openrewrite/java/isolated/ReloadableJava17ParserVisitor.java
  rewrite-java-17/src/main/java/org/openrewrite/java/isolated/ReloadableJava17TypeMapping.java
  rewrite-java-21/src/main/java/org/openrewrite/java/isolated/ReloadableJava21ParserVisitor.java
  rewrite-java-21/src/main/java/org/openrewrite/java/isolated/ReloadableJava21TypeMapping.java
  rewrite-java-8/src/main/java/org/openrewrite/java/ReloadableJava8TypeMapping.java
  rewrite-java-tck/src/main/java/org/openrewrite/java/tree/LombokTest.java
Labels: enhancement, parser-java

#4900 Add Record pattern matching print idempotency Java21
  rewrite-java-21/src/main/java/org/openrewrite/java/isolated/ReloadableJava21ParserVisitor.java
  rewrite-java-tck/src/main/java/org/openrewrite/java/tree/RecordPatternMatchingTest.java
  rewrite-java/src/main/java/org/openrewrite/java/Assertions.java
  rewrite-test/src/main/java/org/openrewrite/test/TypeValidation.java
Labels: parser-java

#4901 HCL - support for legacy syntax for attribute expressions
  rewrite-hcl/src/main/antlr/HCLLexer.g4
  rewrite-hcl/src/main/antlr/HCLParser.g4
  rewrite-hcl/src/main/java/org/openrewrite/hcl/HclIsoVisitor.java
  rewrite-hcl/src/main/java/org/openrewrite/hcl/HclVisitor.java
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/HclParserVisitor.java
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/HclPrinter.java
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/grammar/HCLLexer.interp
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/grammar/HCLLexer.java
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/grammar/HCLParser.interp
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/grammar/HCLParser.java
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/grammar/HCLParserBaseListener.java
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/grammar/HCLParserBaseVisitor.java
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/grammar/HCLParserListener.java
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/grammar/HCLParserVisitor.java
  rewrite-hcl/src/main/java/org/openrewrite/hcl/tree/Hcl.java
  rewrite-hcl/src/main/java/org/openrewrite/hcl/tree/HclRightPadded.java
  rewrite-hcl/src/main/java/org/openrewrite/hcl/tree/Space.java
  rewrite-hcl/src/test/java/org/openrewrite/hcl/tree/HclVariableExpressionTest.java
Labels: parser-hcl

#4881 Add new parameter `oldAttributeValue` to `AddOrUpdateAnnotationAttribute` recipe
  rewrite-java-test/src/test/java/org/openrewrite/java/AddOrUpdateAnnotationAttributeTest.java
  rewrite-java/src/main/java/org/openrewrite/java/AddOrUpdateAnnotationAttribute.java
  rewrite-java/src/main/java/org/openrewrite/java/recipes/MissingOptionExample.java
Labels: recipe

#4910 Correct TOML table parsing
  rewrite-toml/build.gradle.kts
  rewrite-toml/src/main/antlr/TomlParser.g4
  rewrite-toml/src/main/java/org/openrewrite/toml/internal/TomlParserVisitor.java
  rewrite-toml/src/main/java/org/openrewrite/toml/internal/grammar/TomlLexer.interp
  rewrite-toml/src/main/java/org/openrewrite/toml/internal/grammar/TomlLexer.java
  rewrite-toml/src/main/java/org/openrewrite/toml/internal/grammar/TomlParser.interp
  rewrite-toml/src/main/java/org/openrewrite/toml/internal/grammar/TomlParser.java
  rewrite-toml/src/test/java/org/openrewrite/toml/TomlParserTest.java
Labels: bug, parser-toml

#4905 Optionally update maven plugin version in ChangePluginGroupIdAndArtifactId
  rewrite-maven/src/main/java/org/openrewrite/maven/ChangePluginGroupIdAndArtifactId.java
  rewrite-maven/src/test/java/org/openrewrite/maven/ChangePluginGroupIdAndArtifactIdTest.java
Labels: enhancement, recipe

#4888 Fixed missing version on multiple dependency management sections in m…
  rewrite-maven/src/main/java/org/openrewrite/maven/internal/MavenPomDownloader.java
  rewrite-maven/src/main/java/org/openrewrite/maven/tree/MavenMetadata.java
  rewrite-maven/src/main/java/org/openrewrite/maven/tree/ResolvedPom.java
  rewrite-maven/src/test/java/org/openrewrite/maven/internal/MavenPomDownloaderTest.java
  rewrite-maven/src/test/java/org/openrewrite/maven/tree/ResolvedPomTest.java
Labels: bug

#4914 Fix issue parsing string with Java8ReloadableParser
  rewrite-java-8/src/main/java/org/openrewrite/java/ReloadableJava8Parser.java
  rewrite-java-tck/src/main/java/org/openrewrite/java/tree/ParserTest.java
Labels: bug, parser-java

#4887 Groovy parser fail with single line comment
  rewrite-core/src/main/java/org/openrewrite/internal/StringUtils.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/JenkinsFileTest.java
Labels: bug, parser-groovy

#4917 YAML Parser not to take @variables@ in the middle of scalar
  rewrite-yaml/src/main/java/org/openrewrite/yaml/YamlParser.java
  rewrite-yaml/src/test/java/org/openrewrite/yaml/YamlParserTest.java
Labels: bug, parser-yaml

#4661 Support JEP-441: Pattern Matching for switch for Java 21+
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyParserVisitor.java
  rewrite-java-11/src/main/java/org/openrewrite/java/isolated/ReloadableJava11ParserVisitor.java
  rewrite-java-17/src/main/java/org/openrewrite/java/isolated/ReloadableJava17ParserVisitor.java
  rewrite-java-21/src/main/java/org/openrewrite/java/isolated/ReloadableJava21ParserVisitor.java
  rewrite-java-8/src/main/java/org/openrewrite/java/ReloadableJava8ParserVisitor.java
  rewrite-java-tck/src/main/java/org/openrewrite/java/tree/RecordPatternMatchingTest.java
  rewrite-java-tck/src/main/java/org/openrewrite/java/tree/SwitchPatternMatchingTest.java
  rewrite-java/src/main/java/org/openrewrite/java/Assertions.java
  rewrite-java/src/main/java/org/openrewrite/java/JavaPrinter.java
  rewrite-java/src/main/java/org/openrewrite/java/JavaVisitor.java
  rewrite-java/src/main/java/org/openrewrite/java/search/SemanticallyEqual.java
  rewrite-java/src/main/java/org/openrewrite/java/tree/J.java
  rewrite-java/src/main/java/org/openrewrite/java/tree/JContainer.java
  rewrite-java/src/main/java/org/openrewrite/java/tree/JRightPadded.java
  rewrite-java/src/main/java/org/openrewrite/java/tree/Space.java
  rewrite-test/src/main/java/org/openrewrite/test/TypeValidation.java
Labels: enhancement, parser-java, java 21+

#4918 Pull up recipes from rewrite-migrate-java
  rewrite-java/src/main/java/org/openrewrite/java/ChangeMethodInvocationReturnType.java
  rewrite-java/src/main/java/org/openrewrite/java/ReplaceStringLiteralValue.java
  rewrite-java/src/test/java/org/openrewrite/java/ChangeMethodInvocationReturnTypeTest.java
  rewrite-java/src/test/java/org/openrewrite/java/ReplaceStringLiteralValueTest.java
  rewrite-maven/src/main/java/org/openrewrite/maven/UpdateMavenProjectPropertyJavaVersion.java
  rewrite-maven/src/main/java/org/openrewrite/maven/UseMavenCompilerPluginReleaseConfiguration.java
  rewrite-maven/src/test/java/org/openrewrite/maven/UpdateMavenProjectPropertyJavaVersionTest.java
  rewrite-maven/src/test/java/org/openrewrite/maven/UseMavenCompilerPluginReleaseConfigurationTest.java
Labels: recipe

#4923 Support Groovy methods declaring generic type parameters
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyParserVisitor.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/GroovyTypeAttributionTest.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/format/OmitParenthesesForLastArgumentLambdaTest.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/ClassDeclarationTest.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/ConstructorTest.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/EnumTest.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/ForLoopTest.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/MethodDeclarationTest.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/TryTest.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/VariableDeclarationsTest.java
Labels: bug, parser-groovy

#4924 Fixing YAML handling of multiline literals in some cases
  rewrite-yaml/src/main/java/org/openrewrite/yaml/YamlParser.java
  rewrite-yaml/src/test/java/org/openrewrite/yaml/YamlParserTest.java
Labels: bug, parser-yaml

#4926 Refactoring, renaming visitors not to use Java in their name
  rewrite-xml/src/main/java/org/openrewrite/xml/style/Autodetect.java
  rewrite-yaml/src/main/java/org/openrewrite/yaml/style/Autodetect.java
Labels: parser-xml, parser-yaml

#4922 Allow Groovy class to extend `groovy.lang.Script`
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyParserVisitor.java
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyTypeMapping.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/ClassDeclarationTest.java
Labels: bug, parser-groovy

#4929 Map compiler type information for `SwitchExpression`
  rewrite-java-17/src/main/java/org/openrewrite/java/isolated/ReloadableJava17ParserVisitor.java
  rewrite-java-21/src/main/java/org/openrewrite/java/isolated/ReloadableJava21ParserVisitor.java
  rewrite-java/src/main/java/org/openrewrite/java/tree/J.java
Labels: bug, parser-java, java 21+

#4746 Add annotation element values to type attribution model
  rewrite-java-11/src/main/java/org/openrewrite/java/isolated/ReloadableJava11TypeMapping.java
  rewrite-java-17/src/main/java/org/openrewrite/java/isolated/ReloadableJava17TypeMapping.java
  rewrite-java-21/src/main/java/org/openrewrite/java/isolated/ReloadableJava21TypeMapping.java
  rewrite-java-8/src/main/java/org/openrewrite/java/ReloadableJava8TypeMapping.java
  rewrite-java-tck/src/main/java/org/openrewrite/java/tree/AnnotationTest.java
  rewrite-java-test/src/main/java/org/openrewrite/java/JavaTypeMappingTest.java
  rewrite-java/src/main/java/org/openrewrite/java/JavaTypeVisitor.java
  rewrite-java/src/main/java/org/openrewrite/java/internal/JavaReflectionTypeMapping.java
  rewrite-java/src/main/java/org/openrewrite/java/tree/JavaType.java
  rewrite-java/src/test/java/org/openrewrite/java/internal/JavaReflectionTypeMappingTest.java
Labels: enhancement, parser-java

#4944 Adding ReplaceLegacyAttributeIndexSyntax
  rewrite-hcl/src/main/java/org/openrewrite/hcl/ReplaceLegacyAttributeIndexSyntax.java
  rewrite-hcl/src/test/java/org/openrewrite/hcl/ReplaceLegacyAttributeIndexSyntaxTest.java
Labels: enhancement, parser-hcl

#4096 Compact `GitProvenance.Committer` representation
  rewrite-core/src/main/java/org/openrewrite/marker/GitProvenance.java
Labels: performance

#4950 Fix bug parsing Groovy constructor declarations
  rewrite-gradle/src/main/groovy/RewriteGradleProject.groovy
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyParserVisitor.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/ClassDeclarationTest.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/ClassExpressionTest.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/MethodInvocationTest.java
Labels: bug, parser-groovy

#4951 More robust Groovy parentheses handling
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyParserVisitor.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/MethodInvocationTest.java
Labels: bug, parser-groovy

#4964 Exclude parenthese determination from comments and string literals
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyParserVisitor.java
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyPrinter.java
  rewrite-groovy/src/main/java/org/openrewrite/groovy/internal/Delimiter.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/LiteralTest.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/MethodInvocationTest.java
Labels: bug, parser-groovy
