Repository openrewrite/rewrite, pull requests merged in 2025-07, with the labels that each got.

#5694 refactor: org.openrewrite.mavencentral
  .github/workflows/ci.yml
  .github/workflows/nightly-ci.yml
  .github/workflows/publish.yml
  rewrite-gradle/src/main/resources/META-INF/rewrite/examples.yml
  rewrite-gradle/src/main/resources/example.yml
  rewrite-gradle/src/test/java/org/openrewrite/gradle/ChangeDependencyArtifactIdTest.java
  rewrite-gradle/src/test/java/org/openrewrite/gradle/ChangeDependencyClassifierTest.java
  rewrite-gradle/src/test/java/org/openrewrite/gradle/ChangeDependencyConfigurationTest.java
  rewrite-gradle/src/test/java/org/openrewrite/gradle/ChangeDependencyExtensionTest.java
  rewrite-gradle/src/test/java/org/openrewrite/gradle/ChangeDependencyGroupIdTest.java
  rewrite-gradle/src/test/java/org/openrewrite/gradle/DependencyUseMapNotationTest.java
  rewrite-gradle/src/test/java/org/openrewrite/gradle/DependencyUseStringNotationTest.java
  rewrite-gradle/src/test/java/org/openrewrite/gradle/RemoveDependencyTest.java
  rewrite-gradle/src/test/java/org/openrewrite/gradle/UpgradeDependencyVersionTest.java
  rewrite-gradle/src/test/java/org/openrewrite/gradle/search/FindRepositoryTest.java
  rewrite-maven/src/test/java/org/openrewrite/maven/internal/MavenPomDownloaderTest.java
  rewrite-maven/src/test/java/org/openrewrite/maven/internal/RawPomTest.java
Labels: github_actions

#5663 Fix `FindDependency` to exclude constraints
  rewrite-gradle/src/main/java/org/openrewrite/gradle/search/FindDependency.java
  rewrite-gradle/src/test/java/org/openrewrite/gradle/search/FindDependencyTest.java
  rewrite-gradle/src/test/java/org/openrewrite/gradle/trait/GradleDependencyTest.java
Labels: bug

#5698 Untangle the `addOnly` and `appendArray` options for AddOrUpdateAnnotationAttribute recipe
  rewrite-java-test/src/test/java/org/openrewrite/java/AddOrUpdateAnnotationAttributeTest.java
  rewrite-java/src/main/java/org/openrewrite/java/AddOrUpdateAnnotationAttribute.java
Labels: recipe

#5711 Support trailing comma in GroovyParser
  rewrite-gradle/src/test/java/org/openrewrite/gradle/GradleParserTest.java
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyParserVisitor.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/GroovyParserTest.java
Labels: groovy, parser

#5710 fix: remove unused imports after deleting a method argument
  rewrite-java-test/src/test/java/org/openrewrite/java/DeleteMethodArgumentTest.java
  rewrite-java/src/main/java/org/openrewrite/java/DeleteMethodArgument.java
Labels: enhancement, recipe

#5724 Added additional tests for nested annotations, and a fix to break out of the `J.Assignment` for finding an annotation parent that is more significant when the nearest desired parent is a not a `J.ClassDeclaration`
  rewrite-java-test/src/test/java/org/openrewrite/java/JavaTemplateAnnotationTest.java
  rewrite-java/src/main/java/org/openrewrite/java/internal/template/AnnotationTemplateGenerator.java
Labels: bug, test provided

#5731 Reverting `autoFormat` in `JavaTemplateJavaExtension` that was causing unnecessary extra indentation for annotations.
  rewrite-java-test/src/test/java/org/openrewrite/java/JavaTemplateAnnotationTest.java
  rewrite-java/src/main/java/org/openrewrite/java/internal/template/JavaTemplateJavaExtension.java
Labels: bug, java

#5727 Re enable `DoesNotIncludeDependencyTest` tests
  rewrite-maven/src/test/java/org/openrewrite/maven/search/DoesNotIncludeDependencyTest.java
Labels: enhancement

#5674 Determine the correct configuration for Gradle dependency constraints
  rewrite-gradle/src/main/java/org/openrewrite/gradle/UpgradeTransitiveDependencyVersion.java
  rewrite-gradle/src/test/java/org/openrewrite/gradle/UpgradeTransitiveDependencyVersionTest.java
Labels: bug, gradle

#5753 Clarify the use of the recipe
  rewrite-gradle/src/main/java/org/openrewrite/gradle/plugins/UpgradePluginVersion.java
Labels: documentation, gradle

#5760 nightly-ci was missing node_auth_token
  .github/workflows/nightly-ci.yml
Labels: bug

#5768 MinimalViableSpacing recipe does not handle `extends` correctly
  rewrite-java-test/src/test/java/org/openrewrite/java/format/MinimumViableSpacingTest.java
  rewrite-java/src/main/java/org/openrewrite/java/format/MinimumViableSpacingVisitor.java
Labels: bug

#5769 ChangeTagAttribute should be idempotent
  rewrite-xml/src/main/java/org/openrewrite/xml/ChangeTagAttribute.java
  rewrite-xml/src/test/java/org/openrewrite/xml/ChangeTagAttributeTest.java
Labels: bug

#5547 Added support for dependency versions in buildscript.ext {}
  rewrite-gradle/src/main/java/org/openrewrite/gradle/UpgradeDependencyVersion.java
  rewrite-gradle/src/main/java/org/openrewrite/gradle/trait/GradleDependency.java
  rewrite-gradle/src/test/java/org/openrewrite/gradle/UpgradeDependencyVersionTest.java
Labels: bug, recipe, gradle

#5647 Add recipe to update SCM tag based on Git origin
  rewrite-maven/src/main/java/org/openrewrite/maven/UpdateScmFromGitOrigin.java
  rewrite-maven/src/main/java/org/openrewrite/maven/search/FindScm.java
  rewrite-maven/src/main/resources/META-INF/rewrite/maven.yml
  rewrite-maven/src/test/java/org/openrewrite/maven/UpdateScmFromGitOriginTest.java
  rewrite-maven/src/test/java/org/openrewrite/maven/search/FindScmTest.java
Labels: recipe

#5615 fix(maven): POM file path in deserialization exception message
  rewrite-maven/src/main/java/org/openrewrite/maven/internal/MavenPomDownloader.java
  rewrite-maven/src/main/java/org/openrewrite/maven/internal/RawPom.java
  rewrite-maven/src/test/java/org/openrewrite/maven/internal/MavenPomDownloaderTest.java
  rewrite-maven/src/test/java/org/openrewrite/maven/internal/RawPomTest.java
Labels: bug, maven

#5774 Method references for Groovy Parser
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyParserVisitor.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/MethodInvocationTest.java
Labels: groovy, parser

#5596 Handle `RecipeRunException` in `generate` phase
  rewrite-core/src/main/java/org/openrewrite/scheduling/RecipeRunCycle.java
  rewrite-core/src/test/java/org/openrewrite/RecipeSchedulerTest.java
Labels: bug

#5783 Add support for diamond operator in Groovy Parser
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyParserVisitor.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/ConstructorTest.java
Labels: groovy, parser

#5784 Groovy parser supports lambda's with curly braces
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyParserVisitor.java
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyPrinter.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/LambdaTest.java
Labels: groovy, parser

#5790 Add identical and power operators to Groovy Parser
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyParserVisitor.java
  rewrite-groovy/src/main/java/org/openrewrite/groovy/GroovyPrinter.java
  rewrite-groovy/src/main/java/org/openrewrite/groovy/tree/G.java
  rewrite-groovy/src/test/java/org/openrewrite/groovy/tree/BinaryTest.java
Labels: groovy, parser

#5791 Revert "Support for external properties for UpgradeTransitiveDependencyVersion recipe (#5756)"
  rewrite-gradle/src/main/java/org/openrewrite/gradle/UpgradeDependencyVersion.java
  rewrite-gradle/src/main/java/org/openrewrite/gradle/UpgradeTransitiveDependencyVersion.java
  rewrite-gradle/src/test/java/org/openrewrite/gradle/UpgradeTransitiveDependencyVersionTest.java
Labels: recipe

#5780 Null as Identifier in HCL
  rewrite-hcl/src/main/antlr/HCLParser.g4
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/HclParserVisitor.java
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/grammar/HCLLexer.java
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/grammar/HCLParser.interp
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/grammar/HCLParser.java
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/grammar/HCLParserBaseListener.java
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/grammar/HCLParserBaseVisitor.java
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/grammar/HCLParserListener.java
  rewrite-hcl/src/main/java/org/openrewrite/hcl/internal/grammar/HCLParserVisitor.java
  rewrite-hcl/src/main/resources/META-INF/rewrite/examples.yml
  rewrite-hcl/src/test/java/org/openrewrite/hcl/tree/HclAttributeTest.java
  rewrite-hcl/src/test/java/org/openrewrite/hcl/tree/HclVariableExpressionTest.java
Labels: bug, hcl, parser

#5806 Fix `UseStaticImport` creating ambiguous imports
  rewrite-java-test/src/test/java/org/openrewrite/java/UseStaticImportTest.java
  rewrite-java/src/main/java/org/openrewrite/java/UseStaticImport.java
Labels: bug

#5733 Added a new recipe to add an XML tag attribute AddTagAttribute
  rewrite-xml/src/main/java/org/openrewrite/xml/AddTagAttribute.java
  rewrite-xml/src/main/resources/META-INF/rewrite/examples.yml
  rewrite-xml/src/test/java/org/openrewrite/xml/AddTagAttributeTest.java
Labels: recipe, xml

#5794 Support for external properties for UpgradeTransitiveDependencyVersion recipe (part 2)
  rewrite-gradle/src/main/java/org/openrewrite/gradle/UpgradeDependencyVersion.java
  rewrite-gradle/src/main/java/org/openrewrite/gradle/UpgradeTransitiveDependencyVersion.java
  rewrite-gradle/src/test/java/org/openrewrite/gradle/UpgradeTransitiveDependencyVersionTest.java
Labels: recipe

#5820 `UpdateJavaCompatibility` supports `jvmToolchain` shorthand
  rewrite-gradle/src/main/java/org/openrewrite/gradle/UpdateJavaCompatibility.java
  rewrite-gradle/src/test/java/org/openrewrite/gradle/UpdateJavaCompatibilityTest.java
Labels: bug, recipe

#5827 Javadoc snippets fail to parse
  rewrite-java-21/src/main/java/org/openrewrite/java/isolated/ReloadableJava21JavadocVisitor.java
  rewrite-java-21/src/test/java/org/openrewrite/java/Java21JavadocTest.java
  rewrite-java-tck/src/main/java/org/openrewrite/java/tree/JavadocTest.java
  rewrite-java/src/main/java/org/openrewrite/java/JavadocPrinter.java
  rewrite-java/src/main/java/org/openrewrite/java/JavadocVisitor.java
  rewrite-java/src/main/java/org/openrewrite/java/tree/Javadoc.java
Labels: javadoc, parser

#5832 Retry parsing in JavaTemplateParser
  rewrite-java/src/main/java/org/openrewrite/java/internal/template/JavaTemplateParser.java
Labels: bug
